<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <title>Z-home</title>
</head>
<header>
  <img src="/img/logo7.png" alt="insertar SVG con la etiqueta image">
  <img width="65px" height="60px" src="/img/tejo.png" alt="">

</header>

<body>

  {{{body}}}
</body>
<footer>Footer Principal -- diseñado por Diego Fernando Triana Vera DEV</footer>



</html>