<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/home.css">

  <title>home</title>
</head>

<body>
  <p>página del home</p>

  <section class="container-img">
  </section>

  <section class="register">
    <img class="img-g" src="/img/chica.png" alt="">

    <section class="register__container">

      <div class="home">
        <div class="home_start">
          <p>ZInobe Inicio</p>
        </div>
        <ul>
          <li><a href="/user/login">login</a></li>
          <li><a href="/user/register">registrate</a></li>
        </ul>
      </div>


    </section>


    <img class="img-h" src="/img/hom.png" alt="">

  </section>


</body>

</html>