<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/login.css">
  <title>login</title>
</head>

<body>
  <p>login</p>

  <section class="register">
    <img class="img-h" src="/img/g2.png" alt="">

    <h2>Login</h2>
    <section class="register__container">
      <form action="" method="post" class="register__container--form">
        <input class="input" type="text" name="userName" placeholder="Nombre Completo">

        <input class="input" type="password" name="password" placeholder="Contraseña">

        {{!-- <select class="input" name="roles" id="roles" aria-placeholder="tipo de usuario">
          <option class="input input__disabled" aria-selected="true">Elige tu rol</option>
          <option class="input" name="admin" value="admin">Administrador</option>
          <option class="input" name="user" value="user">Empleado</option>

        </select>
 --}}
        <button class="button" type="submit">Iniciar sesión</button>

    </section>


  </section>

</body>

</html>