<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>registro</title>
  <link rel="stylesheet" href="/css/register.css">
</head>
<p>register</p>

<body>
  <section class="register">

    <h2>Registro</h2>
    <section class="register__container">
      <form action="" method="post" class="register__container--form">
        <input class="input" type="text" name="userName" placeholder="Nombre Completo">
        <input class="input" type="text" name="mail" placeholder="correo">

        <input class="input" type="password" name="password" placeholder="Contraseña">
        <input class="input" type="password" name="confirmPassword" placeholder="Confirma tu contraseña">
        <button class="button" type="submit">Registrarse</button>

    </section>
    <img class="img-h" src="/img/h2.png" alt="">


  </section>

  </form>
</body>

</html>